.title {
	font-family: var(--anta);
	font-size: clamp(2rem, 5vw, 6rem);
	font-weight: 900;
	letter-spacing: 5px;
	color: var(--darkest-blue);
	margin-block: 2rem;
	text-shadow: 0 0 3px var(--dark-gray);
	filter: drop-shadow(0px 0px 0.25rem var(--white));
	text-transform: uppercase;
}

.body {
	margin-bottom: 2rem;
	max-width: 90%;
	margin-inline: auto;
	color: var(--white);
	font-size: clamp(1.25rem, 1.25vw, 1.75rem);
	font-weight: 100;
	letter-spacing: 2px;
	font-family: var(--bronova);
	line-height: 1.5;
	hyphens: auto;
	overflow-wrap: normal;
}

.para {
	text-indent: 0.5rem;
}

.para::first-letter {
	font-size: 2rem;
}

/* code blocks */
code {
	background: var(--black);
	color: var(--off-white);
	font-family: var(--mono);
	font-size: clamp(1rem, 1.25vw, 1.25rem);
	letter-spacing: 1px;
	font-weight: 700;
}

code.code {
	background: var(--black);
	color: var(--off-white);
	font-size: clamp(1rem, 1.25vw, 1.25rem);
	font-weight: 700;
}

.code-block {
	background-color: var(--black);
	border: 1px solid var(--off-white);
	width: 75%;
	margin: 2rem auto;
	padding: 1rem;
	border-radius: 12px;
	position: relative;
}

.code-block code {
	font-size: clamp(0.8rem, 0.75vw, 1.25rem);
	line-height: 1.25;
	font-family: monospace;
}

.copy-prompt {
	cursor: pointer;
	opacity: 0.75;
	display: flex;
	align-items: center;
	/* gap: 0.25rem; */
	margin-top: 1rem;
	/* display: flex; */
	gap: 1rem;
	/* align-items: center; */
	transition: opacity 0.2s;

	&:hover {
		opacity: 1;
	}
}

.copy-icon {
	width: 16px;
	height: 16px;
}

.copy-prompt-text {
	font-family: var(--kanit);
	font-weight: 900;
	letter-spacing: 2px;
	color: #fff;
	margin-top: 1.5%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
	.code-block {
		width: 90%;
		padding: 0;
	}

	.copy-prompt {
		margin-left: 5%;
	}

	.copy-prompt-text {
		margin-top: 3%;
	}

	.body {
		max-width: 95%;
	}
}
