.title {
	font-family: var(--orbitron);
	font-size: clamp(2rem, 5vw, 6rem);
	font-weight: 900;
	letter-spacing: 5px;
	color: var(--darkest-blue);
	margin-block: 2rem;
	text-shadow: 0 0 3px var(--dark-gray);
	filter: drop-shadow(0px 0px 0.25rem var(--white));
	text-transform: uppercase;
}

.body {
	margin-bottom: 2rem;
	max-width: 90%;
	margin-inline: auto;
	padding: 2em;
	color: var(--clr-main);
	font-size: clamp(1.25rem, 1.25vw, 1.75rem);
	font-weight: 100;
	letter-spacing: 2px;
	font-family: var(--bronova);
	line-height: 1.5;
	hyphens: auto;
	overflow-wrap: normal;
}

.para {
	text-indent: 0.5rem;
}

.para::first-letter {
	font-size: 2rem;
}

code {
	background: var(--clr-main);
	color: var(--clr-inverted);
	font-family: var(--mono);
	font-size: clamp(0.9rem, 1vw, 1.1rem);
	letter-spacing: 1px;
	font-weight: 700;
}

img {
	display: block;
	margin-top: -2em;
	max-width: 100%;
	height: auto;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center;
}

p {
	padding: 2em;
	line-height: 1.6;
	margin-bottom: 1rem;
}

@media (max-width: 768px) {
	.body {
		max-width: 95%;
	}
}
