.css,
.gsap {
	margin-bottom: 2rem;
	max-width: 100%;
	margin-inline: auto;
	padding: 1em;
	color: var(--clr-main);
	font-size: clamp(1.25rem, 1.25vw, 1.75rem);
	font-weight: 100;
	letter-spacing: 2px;
	font-family: var(--bronova);
	line-height: 1.5;
	hyphens: auto;
	overflow-wrap: normal;
}

@media (max-width: 768px) {
	.css,
	.gsap {
		padding: 0.1rem;
		max-width: 95%;
		margin-inline: auto;
	}
}

.css img,
.gsap img {
	display: block;
	margin-top: -2em;
	max-width: 100%;
	height: auto;
	box-shadow: none;
	text-align: center;
	border-radius: var(--radius);
	margin-bottom: 2rem;
}

.css p,
.gsap p {
	padding: 2em;
	line-height: 1.6;
	margin-bottom: 1rem;
	color: var(--clr-main);
}

@media (max-width: 768px) {
	.css p,
	.gsap p {
		padding: 0.1rem;
	}
}

html body h1 {
	font-family: var(--orbitron);
	font-size: clamp(2rem, 5vw, 8rem);
	font-weight: 900;
	color: var(--clr-pale);
	letter-spacing: 5px;
	margin-block: 2rem;
	text-shadow: 0 0 3px var(--dark-gray);
	filter: drop-shadow(0px 0px 0.25rem var(--white));
	text-transform: uppercase;
}

html body h2 {
	font-family: var(--bronova-bold);
	font-size: clamp(1.5rem, 3vw, 2.5rem);
	font-weight: 500;
	color: var(--clr-blue);
	letter-spacing: 2px;
	margin-block: 1.5rem;
}

html body p {
	font-size: clamp(1rem, 1.25vw, 1.75rem);
	font-weight: 300;
	color: var(--clr-main);
	line-height: 1.5;
	margin-block: 1rem;
	letter-spacing: 2px;
}
