@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

:root {
	/* colors */
	--sky: lightskyblue;
	--blue: blue;
	--black: black;
	--white: white;
	--lightblack: rgb(49, 49, 49);
	--purple: rgb(76, 76, 248);
	--darkgrey: darkgray;
	--crimson: crimson;
	--darkblue: darkblue;
	--cornflower: cornflowerblue;
	--cadet: cadetblue;

	/* fonts */
	--nunito: 'Nunito Sans', sans-serif;
	--merriweather: 'Merriweather', serif;
	--courier: 'Courier New', Courier, monospace;

	/* sizes */
	--1-rem: 1.75rem;
	--2rem: 2rem;
	--2-rem: 2.5rem;
	--4rem: 4rem;
	--1rem: 1rem;

	/* border-radius */
	--8px: 8px;
	--50: 50%;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: var(--nunito);
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.atwellLogo,
.content,
.linksize,
.greensock {
	visibility: hidden;
}
h2 {
	font-family: var(--merriweather);
	text-align: center;
}
h3 {
	text-align: center;
}
