@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	/* colors */
	--blackest: hsl(0, 15%, 5%);
	--blacker: hsla(205, 4%, 7%, 0.5);
	--black: hsla(205, 4%, 14%, 1);
	--lightblack: hsl(240, 0%, 19%);
	--dark-gray: hsl(0, 0%, 27%);
	--smoke: hsla(247, 3%, 50%, 0.65);
	--white: hsla(330, 4%, 90%, 0.65);
	--off-white: hsla(317, 6%, 76%, 0.65);
	--sky: hsla(187, 64%, 73%, 0.5);
	--blue: hsla(201, 100%, 37%, 0.5);
	--purple: hsla(227, 98%, 68%, 0.6);
	--yellow: hsla(46, 93%, 42%, 0.75);

	/* fonts */
	--montserrat: 'Montserrat', sans-serif;
	--anta: 'Anta', sans-serif;
	--lexend: 'Lexend', sans-serif;
	--mono: 'Space Mono', monospace;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--nunito);
	font-size: 16px;
	line-height: 1.5;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--white);
}

a {
	text-decoration: none;
}

.atwellLogo,
.content,
.linksize,
.greensock {
	visibility: hidden;
}

h2 {
	font-family: var(--major);
	text-align: center;
	color: var(--purple);
}

h3,
h4 {
	text-align: center;
	font-family: var(--montserrat);
	color: var(--sky);
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	margin-left: 3rem;
}

.border {
	border: 3px solid var(--white);
	border-radius: 10px;
	padding: 2rem;
}

/* bevel */
.bevel {
	position: relative;
}

.bevel:before {
	content: '';
	position: absolute;
	inset: 0;
	background: var(--smoke);
	clip-path: polygon(
		0 80px,
		80px 0,
		calc(100% - 80px) 0,
		100% 80px,
		100% calc(100% - 80px),
		calc(100% - 80px) 100%,
		80px 100%,
		0 calc(100% - 80px),
		0 80px,
		5px calc(80px + 2.07px),
		5px calc(100% - 80px - 2.07px),
		calc(80px + 2.07px) calc(100% - 5px),
		calc(100% - 80px - 2.07px) calc(100% - 5px),
		calc(100% - 5px) calc(100% - 80px - 2.07px),
		calc(100% - 5px) calc(80px + 2.07px),
		calc(100% - 80px - 2.07px) 5px,
		calc(80px + 2.07px) 5px,
		5px calc(80px + 2.07px)
	);
}
